body {
	background-image: url("../images/seigaiha.png");
	margin: 0px;
    padding: 0px;
    
}

.jumbotron {
	background-color: lightsteelblue;
	color: white;
}

.target-number {
	font-size: 30px;
	background-color: #F8CF9C;
	border-style: solid;
	border-color: #ddd;
    border-width: 4px;
    margin-bottom: 20px;
}

.win-lose-counter {
	background-color:lightcyan;
	border-style: solid;
	border-color: #ddd;
    border-width: 4px;
    float: right;
}

.buttons {
    float: right;
    width: 180px;
    margin-top: -10px;
    position: absolute;
    margin-left: 390px;
}

.totalscore {
	color:black;
    background-color:lightcyan;
}

.score-number {
	color: white;
	background-color: #4aaaa5;
	font-size: 30px;
}
#loser, #winner{
    width: 181px;
}
#winner{
    margin-right: 15px;
}


